<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Connors Blog</title>
    <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <h1 class="text-center">Connor's Blog</h1>
    <div id="margin">
    <form action="/Post" method="POST">
        <div class="form-group">
          <label for="formGroupExampleInput">Title</label>
          <input name="title" type="text" class="form-control" id="formGroupExampleInput" placeholder="Insert Title Here">
        </div>
        <div class="form-group">
          <label for="formGroupExampleInput2">Post</label>
          <textarea name= "blog" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-secondary btn-lg btn-block">Submit</button>
    </form>
    <br>
    <% for ( let i=0; i < blogPost.length;  i++ ){%>
        <li class="list-group-item font-weight-bold" id="<%= blogPost[i].ID  %>" ><%= blogPost[i].title %></li>
        <li class="list-group-item" id="<%= blogPost[i].ID %>" ><%= blogPost[i].post %></li>
    <% } %>
    </div>
    <script src="js/main.js"></script>
</body> 
</html>